<div class="wd-75">
  <%= form_tag "/address" do  %>
    <%= label_tag :address %>
    <%= text_field_tag :address, "", class: "form-control wd-65" %>
    <%= submit_tag :order, class: "btn btn-success wd-65" %>
  <% end %>
</div>
